.footer {
    width: 100%;
    padding: 2rem;
    background: linear-gradient(to left, #000000EE, #000000FF, #000000EE);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    &__lowerSection {
        width: clamp(250px, 100%, 1000px);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        row-gap: 20px;
        column-gap: 100px;

        @media (max-width: 600px) {
            justify-content: center;
        }
    }

    &__cta {
        display: flex;
        flex-flow: row wrap;
        gap: 1ch;
    }
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

.twitter,
.facebook,
.github,
.behance,
.linkedin,
.medium,
.devto {
    transition: all 0.2s ease-in;
    &:hover {
        transition: color 0.2s ease-out;
    }
}

.twitter:hover {
    color: var(--twitter);
}

.facebook:hover {
    color: var(--facebook);
}

.linkedin:hover {
    color: var(--linkedin);
}

.behance:hover {
    color: var(--behance);
}

.github:hover {
    color: var(--github);
}

// .devto:hover {
//     color: var(--devto);
// }

// .medium:hover {
//     color: var(--medium);
// }