.title,
.description {
    text-align: center;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;

    a {
        color: #0070f3;
        text-decoration: none;

        &:hover, &:focus, &:active {
            text-decoration: underline;
        }
    }
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 3rem;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 45%;

    &:hover, &:focus, &:active {
        color: #0070f3;
        border-color: #0070f3;
    }

    h2 {
        margin: 0 0 1rem 0;
        font-size: 1.5rem;
    }

    p {
        margin: 0;
        font-size: 1.25rem;
        line-height: 1.5;
    }
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

.icon {
    margin-bottom: 1rem;
}

.seperator {
    width: clamp(200px, 100%, 1000px);
    height: 1px;
    background: linear-gradient(to left, #00000000, #00000033, #00000000);
    margin: 20px 0px;
}

.cta {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin-top: 1rem;

    &_twitter:hover {
        color: #00ACEE;
        background: #00ACEE;
        fill: #00ACEE;
    }
}
