.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.main {
    // padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;

    &[data-alignment="centered"] {
        justify-content: center;
        align-items: center;
    }

    &[data-alignment="normal"] {
        align-items: stretch;
        justify-content: flex-start;
    }
}